*{
    box-sizing: border-box;
    /* outline: 4px solid red; */
}

body{
    margin: 0;
    padding: 0;

    background-color: beige;
    min-height: 100%;
    /* border: 4px solid blue; */
}

img{
   max-width: 60%;
   width: 60ch;
   height: auto;
   display:block;
   margin: 0 auto;
}

p{
    /* border: 1px solid black; */
    /* width: 250px;  */
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; /* Sets a default font family for the page */
    font-size: 1.4rem; /* Sets a default font size */
    color: #333; /* Sets a default text color */
    line-height: 1.6;

}

span{
    font-size: 1.4rem;
}

#home{
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid green; */
    gap: 10px;
    
}

.card{
    /* flex: 1; */

    width: 60ch;
    padding: 25px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;

}

.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

.tab-link {
    /* Basic styling for tab buttons */
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f1f1f1;
}

.tab-link.active {
    background-color: #ddd; /* Highlight the active tab */
}